\documentclass[11pt]{article}
\usepackage[\VAR{geometry_opts}]{geometry}
\usepackage{resume}

\begin{document}
\pagestyle{empty}

\resumeheader{\VAR{name}}{\VAR{tagline_latex}}{\VAR{contact_latex}}

\VAR{body_latex}

\end{document}
